@import 'styles/variables.scss';

.-tp-Price{
    display: flex;
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    transition: height 0.9s linear;
    justify-content: center;
    h1{
        font-size: 33px;
        font-family: Calibri;
        color: $color-primary;
    }
    &-PriceOldWrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        span{
            color: #000;
            text-decoration: line-through;
            span{
                font-size: 22px;
                color: $color-primary;
                margin-right: 10;
                font-family: 'Calibri';
            }
        }
    }
}
